<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Route</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>Options</th>
            <!-- <th>id</th> -->
        </tr>
        <% for(results of result){ %> 
            <tr>
                <td><%= results.id %></td>
                <td><%= results.usename %></td> 
                <td><%= results.email%></td>
                <td>
                    <form action="/user/<%= results.id %>/edit" method="get" >
                        <button>Edit user</button>
                    </form>
                </td>
                
                
            </tr>

            
        <% } %>
    </table>

    
</body>
</html>


